*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}
body{
    background-color: #ffffff;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%2373d287' fill-opacity='0.27'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    font-size: 19px;
    font-family: 'Roboto Mono', monospace;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto

}
/* navigation */ 
.nav-name{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand{
    width:50px
}

.nav-img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    
}
.nav-img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    

}
.nav-name ul{
    display: flex;
     
}
.nav-name ul li{
    padding: 10px
}
.nav-name ul li a:hover{
    border-bottom: 2px solid black;
    color:rgb(2, 202, 35);
    font-size: 19px;
    
}

.nav-name ul.nav-menu{
    flex: 1;
    margin-left: 20px;
    
}
.menu-btn{
    display: block;
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index : 2;
    font-size: 1.5rem;
}

/* showcase*/
.showcase {
    height: 500px;
    width: 100%;
    background: url('./Images/tractor.jpg') no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    
}
hr{
    margin: 10px

}
.showcase  h3 {
   font-size: 28px;
   color: #fff;
   text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0  #000,
   -1px 1px 0  #000,
    1px 1px 0  #000;
}
.showcase  p {
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0  #000,
    -1px 1px 0  #000,
     1px 1px 0  #000;
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 18px;
    border: 1px solid #000;
    margin: 10px 0;

}
.btn:hover{
    background-color: rgb(255, 45, 30) ;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .showcase h1,
  .showcase p{
      margin-bottom: 10px;

  }
  /* newscards*/

  .newcards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 25px;
      margin-bottom: 10px;

  }
  .newcards img{
      width: 100%;
      height: 180px;
  }

  .newcards h3{
      font-size: 22px;
      margin: 10px 0

  }
  .newcards a{
      padding: 10px 0;
      color: #000;
      text-decoration: uppercase;
      display: inline-block;
      font-weight: bold;
      
  }

  .newcards a:hover{
      text-decoration: underline;
      color: rgb(20, 10, 163);
      
}

/* cards banner */

.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url('./Images/pexels-freestocksorg-175389.jpg');
    margin-bottom: 48px;
}
.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}
.cards-banner-one  a{
    padding: 10px 0;
    color: #000;
    text-decoration: uppercase;
    display: inline-block;
    font-weight: bold;
    
}
.cards-banner-one a:hover{
    text-decoration: underline;
    color: rgb(20, 10, 163);
    
}
.cards-banner-one p,
.cards-banner-two p {
    margin: 10px 0 20px 0
}


/* cards banner  2*/

.cards-banner-two{
    width: 100%;
    height: 350px;
    background: url('./Images/asas.jpg') no-repeat center center/cover;

}
.cards-banner-two .contentw{
    width: 50%;
    padding: 100px 0 0 30px;
    color: #ffffff;
}
.cards-banner-two  a{
    padding: 10px 0;
    color: #000;
    text-decoration: uppercase;
    display: inline-block;
    font-weight: bold;
    
}
.cards-banner-two a:hover{
    text-decoration: underline;
    color: rgb(20, 10, 163);
    
}
.cards-banner-two p,
.cards-banner-two h2 {
    margin: 10px 0 20px 0
}

/* SOCIAL */

.social {
    margin:50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px
}

.links {
    display:flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
}
.links i {
    font-size: 30px;
}

/* footer links */
.footer-links {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.5;
}

@media (max-width: 700px){

.nav-name ul.nav-menu{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #888e97;
    height: 100%;
    opacity: .9;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
    
}
.nav-name ul.nav-menu.show{
    transform: translateX(-20px);
}

.nav-name ul.nav-menu-right {
    margin-right: 50px;
}


    .newcards{
        grid-template-columns: repeat(2,1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .contentw {
        width: 80%;
    }
    .footer-links .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width: 500px){

    .newcards{
        grid-template-columns: 1fr;
    }
    .newcards img{
height: 270px;
    }
    .cards-banner-one .content,
    .cards-banner-two .contentw{
        width:100px;
        padding: 60px 20px;

    }
    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }


}